<div class="container text-center">
<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h2 class="name_in_list"><%= restaurant.name %></h2>
  <h3 class="element_list">Address : <%= restaurant.address %></h3>
  <h3 class="element_list">Phone number : <%= restaurant.phone_number %></h3>
  <h3 class="element_list">Category : <%= restaurant.category %></h3>
  <%= link_to 'Show', restaurant, {class: "btn btn-primary"} %>
  <%= link_to 'Edit', edit_restaurant_path(restaurant), {class: "btn btn-primary"} %>
  <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
  <%= link_to 'New Review', new_restaurant_review_path(restaurant), {class: "btn btn-primary"} %>
<% end -%>

<br>
<%= link_to 'New Restaurant', new_restaurant_path,{class: "btn btn-primary"} %>
</div>
