<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<h3>
  <strong>Review:</strong>
</h3>

<% counter = 0 %>
<% @restaurant.reviews.each do |review| %>
  <% counter += 1 %>
  <p><strong>Review <%= counter %></strong></p>
  <p> Description : <%= review.content %></p>
  <p> Rating : <%= review.rating %></p>
<% end -%>
